absl-py
altair             
argon2-cffi      
argon2-cffi-bindings
astunparse           
async-generator      
attrs
backcall
backports.zoneinfo
bleach
blinker
cached-property
cachetools
certifi
cffi
charset-normalizer
clang
click
cmake
colorama
commonmark
cycler
dataclasses
decorator
defusedxml
dlib
entrypoints
et-xmlfile
face-recognition
face-recognition-models
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandocfilters
parso
patsy
pickleshare
Pillow
plotly
plotly-express
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywin
pywinpty
pyzmq
requests1
requests-oauthlib
rich
rsa
scipy
seaborn
semver
Send2Trash
six
smmap
statsmodels
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
XlsxWriter
zipp
